/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #F2F1EF !default;
$positive:                        #4a87ee !default;
$calm:                            #F4B350 !default;
$balanced:                        #336E7B !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #16A085 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

.item-paciente {
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
  margin-left: 3%;
  margin-top: -5px;
  z-index: 0;
  width: 94%;
  font-size: 14px;
  outline: 1px solid rgba(0, 0, 0, 0.19);
}

.item.item-balanced {
    border-color: #244e57;
    background-color: #28a54c;
    color: #fff;
}

button{
  vertical-align: middle;
  display: inline-block;
};

body{
  font-size: 18px;
};

textarea{
  resize: none;
};


.item-stacked-label, .km-input{
  input, textarea{
    border:{
      bottom: 1px;
      bottom-style: solid;
      bottom-color: #34495E;
    }
  }

  &.has-error {
    input, textarea{
      border-bottom: 2px solid red;
    }
  }
};

label.item input{
  &.has-error {
    border-bottom: 2px solid red;
  }
};

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../assets/fonts/MaterialIcons-Regular.woff) format('woff');
};

@font-face {
  font-family: 'Digital-7';
  font-style: normal;
  font-weight: 400;
  src: local('Digital-7'), local('Digital-7-Regular'),url(../assets/fonts/digital-7-webfont.woff) format('woff');
};

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  vertical-align: sub;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.icon-md-18{
    font-size: 18px;
  }
  &.icon-md-24{
    font-size: 24px;
  }
  &.icon-md-36{
    font-size: 36px;
  }
  &.icon-md-48{
    font-size: 48px;
  }

  &.md-dark { color: rgba(0, 0, 0, 0.54); }
  &.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
  &.md-light { color: rgba(255, 255, 255, 1); }
  &.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

  &.orange600 { color: #FB8C00; }
};

.button.button-large .material-icons{
  &.icon-md-18{
    font-size: 18px;
  }
  &.icon-md-24{
    font-size: 24px;
  }
  &.icon-md-36{
    font-size: 36px;
  }
  &.icon-md-48{
    font-size: 48px;
  }
}

.color-gallery{
  background-color: #EEEEEE;
};

.text-vertical-middle .button-block-vertical{
  vertical-align: middle;
};

.button-block-vertical{
  display: inline-block;
  float: none;
  left: 1%;
  position: relative;
};

.button.button-fab{
  height: 40px;
  width: 40px;
  left: 1%;
  i {
    font-size: 1.5rem;
    vertical-align: middle;
  }
};

.time-travel{
  font-size: 80px;
  font-family: 'Digital-7';
  color: #FFF;
};

.timer-card{
  background-color: #2574A9;
  border-color: #ECECEC;
};

.block-form-card{
  background-color: #ECECEC;
};

.card, .list-inset{
  margin: 1px 10px;
};

.item-selected{
  background-color: #A2DED0;
};

.button-fixed-footer{
  top: 25%;
  font-size: 25px;
};

.buttons-footer{
  bottom:0;
  display:block;
  position:fixed;
  z-index:1000;
};

.sub-header{
  height: 60px;
  &.duo{
    height: 110px;
  }
};

.bar .button{
  max-width: 100%;
  max-height: 50px;
};
// .bar-balanced{
//   background-color: #336E7B;
//   border-color: #336E7B;
// }

.btn-ok{
  background-color: #2ECC71;
};

.silver{
  background-color: #BDC3C7;
};

.ion-content{
  top:110px;

  &.duo{
    top:150px;
  }
};

.button.button-fab{
  i {
    font-size: 24px;
  }

  &.icon-md-32 i{
    font-size: 32px;
  }
};

.button.button-fab.avatar{
  border:{
    width: 1px;
    style: solid;
    radius: 50%;
  }

  width: 80px;
  height: 80px;
  color: #FFF;
  background-color: #BDC3C7;

  i{
    font-size: 70px;
  }
};

.button.button-fab.avatarGreen{
  border:{
    width: 1px;
    style: solid;
    radius: 50%;
  }

  width: 80px;
  height: 80px;
  color: #FFF;
  background-color: #4CAF50;

  i{
    font-size: 70px;
  }
};

.button.button-fab.avatarRed{
  border:{
    width: 1px;
    style: solid;
    radius: 50%;
  }

  width: 80px;
  height: 80px;
  color: #FFF;
  background-color: #FF5722;

  i{
    font-size: 70px;
  }
};

.item-to-delete{
  background-color: #F1A9A0;
};

.button-small{
  font-size: 16px;
};

.alice{
  background-color: #E4F1FE;
};

.item-input-wrapper{
  background-color: #FFF;
  font-size: 20px;
  border:{
    bottom: 1px;
    bottom-style: solid;
    bottom-color: #34495E;
  }
  input{
    width: 90%;
  }
};

.vertical-align-middle{
  vertical-align: middle;
};

.error-login{
  margin-top: 0px;
  line-height: 0px;
};

.item.item-card{
  padding: 0px;
  border: 0px;
};

.item-complex.item-card .item-content{
  padding: 2px;
};

.row, .col{
  &.padding-vertical-zero{
    padding: 0px;
  }
  &.card-row{
    height: 50px;
  }
};


.text-item-middle{
  top: 35%;
  position: relative;
  &.text-item-body {
    line-height: 45px;
  }
};

.form-error{
  padding: 0px;
  color: red;
  font-size: 13px;
};

.font-24{
  font-size: 24px;
};

label,
.div-input,
.span-input{
  display: inline-block;
  vertical-align: middle;
}

.bt-disabled{
  border-color: #BDBDBD !important;
  background-color: #E0E0E0 !important;
}
