<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-balanced">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu header -->
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Menu</h1>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.inicio">
          <home-icon></home-icon> Página Inicial
        </ion-item>
        <ion-item menu-close ui-sref="app.usuario">
          <user-icon></user-icon> Alterar Usuário
        </ion-item>
        <ion-item menu-close ng-click="vm.go('app.novaviagem')" ng-show="vm.estadosViagem.novaViagem" >
          <new-travel-icon></new-travel-icon> Nova Viagem
        </ion-item>
        <ion-item menu-close ng-click="vm.go('app.viajando')" ng-show="vm.estadosViagem.viajando">
          <traveling-icon></traveling-icon> Em viagem
        </ion-item>
        <ion-item menu-close ng-click="vm.go('app.encerrando-viagem')" ng-show="vm.estadosViagem.encerrando">
          <done-icon></done-icon> Encerrar Viagem
        </ion-item>
        <ion-item menu-close ng-click="vm.go('app.viagens')">
          <travels-icon></travels-icon> Viagens Encerradas
        </ion-item>
        <ion-item menu-close ui-sref="app.sincronizar">
          <synchronize-icon></synchronize-icon> Sincronizar Dados
        </ion-item>
        <ion-item menu-close ui-sref="app.configuracao">
          <config-icon></config-icon> Configurações
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
