<ion-view title="Selecionando Roteiro de Viagem" attach-to-window="true">
  <ion-pane>
    <ion-content overflow-scroll="true">
      <ion-list>
        <ion-item ng-show="vm.roteiros.length===0" class="item item-icon-right item-card">
          <div class="card">
            Não há roteiros disponíveis.
          </div>
        </ion-item>
        <ion-item ng-show="!vm.tracker.loading.tracking()"
                  collection-repeat="roteiro in vm.roteiros" class="item item-icon-right item-card"
                  item="roteiro"
                  item-width="100%"
                  item-height="55px"
                  ng-click="vm.selectItem(roteiro, $event)">
          <div class="card">
            <div class="item item-text-wrap" ng-class="{'item-positive': roteiro.codigo === vm.itemSelected.codigo && vm.itemSelected, 'item-stable': !vm.itemSelected && roteiro.codigo !== vm.itemSelected.codigo}">
              {{roteiro.nome}} - {{roteiro.saida | momentToHour}} - {{roteiro.destino}}
              <done-icon ng-if="!!roteiro.selected"></done-icon>
            </div>
          </div>
        </ion-item>
        <ion-item ng-show="vm.tracker.loading.tracking()"
                  item-width="100%"
                  item-height="55px">
          <div class="card">
            <div class="item item-text-wrap item-stable">
              Carregando lista
            </div>
          </div>
        </ion-item>

        <ion-infinite-scroll
          ng-if="vm.canLoad"
          icon="ion-loading-c"
          on-infinite="vm.loadMoreData()"
          distance="1%">
        </ion-infinite-scroll>
      </ion-list>
    </ion-content>
    <ion-footer-bar style="height: 12%" class="silver">
      <div class="col col-50">
        <button class="button button-full button-large button-stable ink" ng-click="vm.comeBack()" style="padding: 0; width: 100%; min-height: 45px">
          <back-icon></back-icon>
          <span>Voltar!</span>
        </button>
      </div>
      <div class="col col-50">
        <button ng-show="!!vm.itemSelected" class="button button-full button-large button-stable ink" ng-click="vm.nextStep()" style="padding: 0; width: 100%; min-height: 45px">
          <next-icon ng-hide="vm.onlySelection"></next-icon>
          <span ng-hide="vm.onlySelection">Avançar!</span>
          <done-icon ng-show="vm.onlySelection"></done-icon>
          <span ng-show="vm.onlySelection">OK!</span>
        </button>
        <button ng-show="!vm.itemSelected" class="button button-full button-large button-stable ink" ng-click="vm.nextStep()" style="padding: 0; width: 100%; min-height: 45px">
          <done-icon ng-show="vm.onlySelection"></done-icon>
          <span ng-show="vm.onlySelection">{{vm.label}}</span>
        </button>
      </div>
    </ion-footer-bar>
  </ion-pane>
</ion-view>
