<ion-view title="Configurações">

  <ion-content>
    <div class="list">
      <div class="row">
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Tempo de Duração da Sessão (min)</span>
            <input type="number" ng-model="vm.configuracao.timeSession" min="1">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Usuário de Sincronização</span>
            <input type="text" style="display:block;" ng-model="vm.configuracao.usuario">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Senha de Sincronização</span>
            <input type="password" style="display:block;" ng-model="vm.configuracao.senha">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
            <span class="input-label">URL de Sincronização</span>
            <input type="text" style="display:block;" ng-model="vm.configuracao.url">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <label class="item item-input">
            <button class="button button-block button-positive" ng-click="vm.save()"><save-icon></save-icon>   Salvar</button>
          </label>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
