<ion-view title="Encerrando Viagem">
    <ion-content>
        <div class="list" style="margin-bottom: 1px;">
            <div class="card light-bg padding">
                <div class="row padding-vertical-zero">
                    <div class="col">
                        <div class="row padding-vertical-zero">
                            <h3>Destino: {{vm.viagem.destino.descricao}}</h3>
                        </div>
                        <div class="row padding-vertical-zero">
                            <div class="col col-50 padding-vertical-zero">
                                <div class="row">
                                    <h4>Motorista: {{vm.viagem.motorista.nome}}</h4>
                                    <div class="padding-left">
                                        <button class="button button-fab button-small button-calm" ng-click="vm.goSelectMotorista()">
                                            <driver-icon></driver-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-50 padding-vertical-zero">
                                <div class="row">
                                    <h4>Veículo: {{vm.viagem.veiculo.descricao}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding-vertical-zero">
                    <div class="col col-25">
                        <div class="card">
                            <div class="item item-card item-divider" style="text-align: center">
                                <h2 class="text-item-middle">Saída</h2>
                            </div>
                            <div class="item item-card item-text-wrap">
                                <div class="row card-encerramento card-row padding-vertical-zero">
                                    <div class="col col-75 padding-left padding-vertical-zero">
                                        <h2 class="text-item-middle text-item-body">{{vm.viagem.saida| momentToDate}}</h2>
                                    </div>
                                    <div class="col col-25 padding-vertical-zero">
                                      <ck-button-date ng-model="vm.viagem.saida" listener="vm.saidaListener"><calendar-icon></calendar-icon></ck-button-date>
                                    </div>
                                </div>
                                <div class="row card-encerramento card-row padding-vertical-zero">
                                    <div class="col col-75 padding-left padding-vertical-zero">
                                        <h2 class="text-item-middle text-item-body">{{vm.viagem.saida| momentToTime}}</h2>
                                    </div>
                                    <div class="col col-25 padding-vertical-zero">
                                        <ck-button-time ng-model="vm.viagem.saida" listener="vm.saidaListener"><clock-icon></clock-icon></ck-button-time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-offset-10 col-25">
                        <div class="card">
                            <div class="item item-card item-divider" style="text-align: center">
                                <h2 class="text-item-middle">Chegada</h2>
                            </div>
                            <div class="item item-card item-text-wrap item-icon-right">
                                <div class="row padding-vertical-zero card-row" >
                                    <div class="col col-75 padding-left padding-vertical-zero">
                                        <h2 class="text-item-middle text-item-body">{{vm.viagem.chegada| momentToDate}}</h2>
                                    </div>
                                    <div class="col col-25 padding-vertical-zero">
                                        <ck-button-date ng-model="vm.viagem.chegada" listener="vm.chegadaListener"><calendar-icon></calendar-icon></ck-button-date>
                                    </div>
                                </div>
                                <div class="row padding-vertical-zero card-row" >
                                    <div class="col col-75 padding-left padding-vertical-zero">
                                        <h2 class="text-item-middle text-item-body">{{vm.viagem.chegada| momentToTime}}</h2>
                                    </div>
                                    <div class="col col-25 padding-vertical-zero">
                                        <ck-button-time ng-model="vm.viagem.chegada" listener="vm.chegadaListener"><clock-icon></clock-icon></ck-button-time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-offset-8 col-33" style="top: -8px">
                      <listapassageiro readOnly="true" size="4" label="Passageiros"></listapassageiro>
                      <listapassageiro readOnly="false" size="4" label="Presença"></listapassageiro>
                    </div>
                </div>

                <form name="vm.form">
                    <div class="card">
                        <div class="item block-form-card" style="padding-top: 5px; padding-bottom: 5px;">
                            <label class="row padding-vertical-zero item item-input item-stacked-label" data-tap-disabled="true">
                                <div class="col col-33 item-stacked-label">
                                    <span class="input-label">KM Inicial:</span>
                                    <input-km-inicial ng-model="vm.viagem.kmInicial" km-final="vm.viagem.kmFinal" km-form="vm.form"></input-km-inicial>
                                </div>
                                <div class="col col-33 item-stacked-label">
                                    <span class="input-label">KM Final:</span>
                                    <input-km-final ng-model="vm.viagem.kmFinal" km-inicial="vm.viagem.kmInicial" km-form="vm.form"></input-km-final>
                                    <div class="form-error" ng-if="vm.erroKmFinal" ng-message="ck-required">{{vm.erroKmFinal}}</div>
                                </div>
                                <div class="col col-33 item-stacked-label">
                                    <span class="input-label">Distância percorrida (km):</span>
                                    <input type="number" ng-disabled="true" ng-model="vm.distanciaPercorrida">
                                </div>
                            </label>
                            <label class="row padding-vertical-zero item item-input item-stacked-label">
                                <div class="col">
                                    <span class="input-label">Observação:</span>
                                    <textarea rows="3" name="obsViagem" cols="100" ng-model="vm.viagem.observacao" ck-max-length="512"></textarea>
                                </div>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="padding-left padding-right">
            <button class="button button-full button-large button-assertive ink" ng-click="vm.finalizarEncerramento()">
                <done-icon></done-icon>
                Finalizar!
            </button>
        </div>
    </ion-content>
</ion-view>
