<ion-view title="Nova Viagem">

  <ion-content>
    <div class="row">
      <div class="col">
        <div class="list">
          <div class="row">
            <div class="col col-50">
              <div class="card">
                <div class="item item-card item-divider" style="text-align: center">
                  <h2 class="text-item-middle">Dados da Condução</h2>
                </div>
                <div class="row" ng-click="vm.goSelectMotorista()">
                  <div class="col col-80 text-vertical-middle" ><h4>Motorista: {{vm.viagem.motorista.nome}}</h4></div>
                  <div class="col col-20 button-block-vertical padding-left">
                    <button class="button button-fab button-small button-calm" ng-click="vm.goSelectMotorista()">
                      <driver-icon></driver-icon>
                    </button>
                  </div>
                </div>
                <div class="row" ng-click="vm.goSelectVeiculo()" >
                  <div class="col col-80 text-vertical-middle">
                    <h4>Veículo: {{vm.viagem.veiculo.descricao}}</h4>
                  </div>
                  <div class="col col-20 button-block-vertical padding-left">
                    <button class="button button-fab button-small button-calm" ng-click="vm.goSelectVeiculo()">
                      <car-icon></car-icon>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-80 text-vertical-middle">
                    <h4>Destino: {{vm.viagem.destino.descricao}}</h4>
                  </div>
                  <div class="col col-20 button-block-vertical padding-left">
                    <button class="button button-fab button-small button-calm" ng-click="vm.goCidade()">
                      <city-icon></city-icon>
                    </button>
                  </div>
                  <div ng-messages="vm.form.destino.$error" role="alert" ng-show="!vm.form.destino.$pristine || vm.form.$submitted">
                    <div class="form-error" ng-message="ck-required">Preencha o campo "Destino"</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col col-offset-10 col-33">
              <div class="card">
                <div class="item item-card item-divider" style="text-align: center">
                  <h2 class="text-item-middle">Saída</h2>
                </div>
                <div class="row">
                  <div class="col col-80 text-vertical-middle"><h4>{{vm.viagem.saida | momentToDate}}</h4></div>
                  <div class="col col-20 button-block-vertical">
                    <ck-button-date ng-model="vm.viagem.saida" listener="vm.saidaListener"><calendar-icon></calendar-icon></ck-button-date>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-80 text-vertical-middle">
                    <h4>{{vm.viagem.saida | momentToTime}}</h4>
                  </div>
                  <div class="col col-20 button-block-vertical">
                    <ck-button-time ng-model="vm.viagem.saida" listener="vm.saidaListener"><clock-icon></clock-icon></ck-button-time>
                  </div>
                </div>
                  <listapassageiro readOnly="true" class="col-33" size="4" label="Passageiros"></listapassageiro>
                  <listapassageiro readOnly="false" class="col-33" size="4" label="Presença"></listapassageiro>
              </div>
            </div>
          </div>

          <div class="card stable-bg">
            <form name="vm.form">
              <div class="row">
                <div class="col col-33">
                  <label class="item item-input item-stacked-label padding-left padding-right" ng-class="{ 'has-error' : vm.form.kmInicial.$invalid && (!vm.form.kmInicial.$pristine || vm.form.$submitted)}">
                    <span class="input-label">KM Inicial:</span>
                    <input ng-model="vm.viagem.kmInicial" style="display:block; height: 32px;" ng-init="vm.initKm()" ></input>
                  </label>
                </div>
                <div class ="col col-33">
                  <label class="item item-input item-stacked-label padding-left padding-right" ng-class="{ 'has-error' : vm.form.localSaida.$invalid && (!vm.form.localSaida.$pristine || vm.form.$submitted)}">
                      <span class="input-label">Local de Saída:</span>
                      <input required="required" name="localSaida" style="display:block; height: 32px;" ng-model="vm.viagem.localSaida" />
                      <div role="alert">
                        <div class="form-error" ng-if="vm.form.localSaida.$invalid && (!vm.form.localSaida.$pristine || vm.form.$submitted)">Preencha o campo "Local de Saída"</div>
                      </div>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <button class="button button-block button-large button-assertive ink" ng-click="vm.iniciaViagem()">
            <play-icon></play-icon>
            Iniciar Viagem!
          </button>
        </div>

      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
