<ion-view title="Em viagem">
  <ion-content>
    <div class="col">
      <div class="list">
        <div class="card light-bg padding">
          <div class="row">
            <div class="col-50">
              <div class="card">
                <div class="row">
                  <div class="col col-80 text-vertical-middle"><h3>Data de Saída: {{vm.viagem.saida | momentToDate}}</h3></div>
                  <div class="col col-20 button-block-vertical">
                    <ck-button-date ng-model="vm.viagem.saida" on-tap="vm.refreshSaida" listener="vm.saidaListener"><calendar-icon></calendar-icon></ck-button-date>
                  </div>
                </div>
                <div class="row padding-top">
                  <div class="col col-80 text-vertical-middle"><h3>Horário de Saída: {{vm.viagem.saida | momentToTime}}</h3></div>
                  <div class="col col-20 button-block-vertical">
                    <ck-button-time ng-model="vm.viagem.saida" on-tap="vm.refreshSaida" listener="vm.saidaListener"><clock-icon></clock-icon></ck-button-time>
                  </div>
                </div>
                <div class="row padding-top">
                  <div class="col col-80 text-vertical-middle"><h3>Motorista: {{vm.viagem.motorista.nome}}</h3></div>
                  <div class="col col-20 button-block-vertical">
                    <button class="button button-fab button-small button-calm" ng-click="vm.goSelectMotorista()">
                      <driver-icon></driver-icon>
                    </button>
                  </div>
                </div>
                <div class="row padding-top">
                  <div class="col col-80 text-vertical-middle"><h3>Veículo: {{vm.viagem.veiculo.descricao}}</h3></div>
                  <div class="col col-20 button-block-vertical">
                    <button class="button button-fab button-small button-calm">
                      <car-icon></car-icon>
                    </button>
                  </div>
                </div>
                  <listapassageiro readOnly="true" class="col-33" size="3" label="Passageiros"></listapassageiro>
                  <listapassageiro readOnly="false" class="col-33" size="3" label="Presença"></listapassageiro>
              </div>
            </div>
            <div class="col-offset-10 col-33 text-center">
              <div class="card block-form-card padding">
                <div class="padding-left padding-top padding-right"><h2>Tempo de Viagem</h2></div>
                <div class="card timer-card">
                  <h1 class="time-travel padding">
                    <timer start-time="vm.initTempoViagem">{{hhours}}:{{mminutes}}</timer>
                  </h1>
                </div>
              </div>
              <div class="row padding-right padding-left">
                <div class="col text-center">
                  <h2>Destino: {{vm.viagem.destino.descricao}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row padding-left padding-right">
      <button class="button button-full button-large button-assertive ink" ng-click="vm.encerrar()">
        <finish-travel-icon></finish-travel-icon>
        Encerrar Viagem!
      </button>
    </div>

  </ion-content>
</ion-view>
