<div class="row">
  <div class="col">
    Usuário: {{::usuario.login}}
  </div>
</div>

<div class="row">
  <div class="col item-stacked-label">
    <input type="password" placeholder="Senha" ng-model="usuario.senha">
  </div>
</div>
<div class="assertive text-center error-login" ng-if="passwordError">
  <div class="col">
    Senha não informada
  </div>
</div>
<div class="assertive text-center error-login" ng-if="passwordInvalid">
  <div class="col">
    Usuário ou senha inválidos
  </div>
</div>
