<ion-view title="Selecionando Motorista">
  <ion-pane>
    <ion-header-bar class="bar-subheader sub-header alice">
      <div class="row item-input-inset">
        <div class="col col-50">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Buscar Motorista" ng-model="vm.busca">
            <clear-icon ng-show="vm.busca" ng-click="vm.clear('busca');"></clear-icon>
          </label>
        </div>
        <div class="col col-33">
          <button class="button button-energized"style="width: 100px" ng-click="vm.search($event)">
            <b>Buscar</b>
          </button>
        </div>
      </div>
    </ion-header-bar>
    <ion-content class="ion-content" overflow-scroll="true">
      <ion-list>
        <ion-item ng-show="!vm.tracker.loading.tracking()"
                  collection-repeat="motorista in vm.motoristas" class="item item-icon-right item-card"
                  item="motorista"
                  item-width="100%"
                  item-height="55px"
                  ng-click="vm.selectItem(motorista, $event);">
          <div class="card">
            <div class="item item-text-wrap" ng-class="{'item-positive': motorista.codigo === vm.itemSelected.codigo && vm.itemSelected, 'item-stable': !vm.itemSelected && motorista.codigo !== vm.itemSelected.codigo}">
              {{motorista.nome}} - {{motorista.dataNascimento | momentToDate}}
              <done-icon ng-if="motorista.codigo === vm.itemSelected.codigo && vm.itemSelected"></done-icon>
            </div>
          </div>
        </ion-item>
        <ion-item ng-show="vm.tracker.loading.tracking()"
                  item-width="100%"
                  item-height="55px">
          <div class="card">
            <div class="item item-text-wrap item-stable">
              Carregando lista
            </div>
          </div>
        </ion-item>
        <ion-infinite-scroll
          ng-if="vm.canLoad"
          icon="ion-loading-c"
          on-infinite="vm.loadMoreData()"
          distance="1%">
        </ion-infinite-scroll>
      </ion-list>


    </ion-content>
    <ion-footer-bar ng-show="!!vm.itemSelected" style="height: 12%" class="silver">
      <div class="col col-50">
        <button class="button button-full button-large button-stable ink" ng-click="vm.cancelSelection()" style="padding: 0; width: 100%; min-height: 45px">
          <back-icon ng-show="vm.onlySelection"></back-icon>
          <span ng-show="vm.onlySelection">Voltar!</span>
          <cancel-icon ng-hide="vm.onlySelection"></cancel-icon>
          <span ng-hide="vm.onlySelection">Cancelar</span>
        </button>
      </div>
      <div class="col col-50">
        <button class="button button-full button-large button-stable ink" ng-click="vm.nextStep()" style="padding: 0; width: 100%; min-height: 45px">
          <done-icon ng-show="vm.onlySelection"></done-icon>
          <next-icon ng-hide="vm.onlySelection"></next-icon>
          <span ng-hide="vm.onlySelection">Avançar!</span>
          <span ng-show="vm.onlySelection">OK!</span>
        </button>
      </div>
    </ion-footer-bar>
  </ion-pane>
</ion-view>

